<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>
        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <hr>
            <a name="" id="" class="btn btn-success" href="/admin/categories/new" role="button">Cadastrar nova
                categoria</a>
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category=> { %>

                        <tr>
                            <td>
                                <%= category.id %>
                            </td>
                            <td>
                                <%= category.title %>
                            </td>
                            <td>
                                <%= category.slug %>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning">Editar</button>
                                <form method="POST" action="/categories/delete" style="display: inline;"
                                    onsubmit="confirmaDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>

                            </td>
                        </tr>

                        <% }) %>
                </tbody>
            </table>
        </div>
        <%- include("../../partials/footer.ejs") %>
            <script>
                function confirmaDelecao(event, form) {
                    event.preventDefault();
                    var decision = confirm("Você quer deletar essa categoria?")
                    if (decision) {
                        form.submit();
                    }
                }
            </script>